@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
} */


@layer components {
  .bg-sfw-bg {
    @apply bg-repeat-x bg-gradient-to-b from-sfw-bg-start to-sfw-bg-end;
    @apply bg-sfw-bg-end;
  }
}